*{
	font-family: 'Gothic A1', sans-serif;
	background-color: pink;
}
.tl{
	text-align: start;
}
h1{
	color: red;
}
p{
	color: saddlebrown;
	font-size: 20px;
}
.tls{
	display: block;
	text-align: start;
	margin-bottom: 20px;
	background-color: red;
	width: 130px;
	padding: 13px;
	border-radius: 50px;
}
.pd{
	padding-top: 100px;
}
.pd-img{
	padding-top: 30px;
	padding-bottom: 30px;
}
img{
	max-width: 100%;
}
h5{
	padding-top: 5px;
	color: red;
}